name: CI

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
      SUPABASE_SERVICE_ROLE_KEY: ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}
      GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      TEST_MODE: "true"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
      
      - name: lint with ruff
        run: |
          python3 -m pip install --upgrade pip
          pip install ruff
          ruff check . --fix

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run docker compose up
        run: docker compose up -d --build

      - name: Run smoke tests
        run: bash tests/app_test.sh
      
      - name: show logs on failure
        if: failure()
        run: docker compose logs --tail=100

      - name: Tear down
        if: always()
        run: docker compose down -v
      

  build-and-push:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: build and push backend
        uses: docker/build-push-action@v6
        with:
          context: backend
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/backend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ github.sha }}
      
      - name: build and push frontend
        uses: docker/build-push-action@v6
        with:
          context: frontend
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/frontend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/frontend:${{ github.sha }}
    
  update-gitops-values-file:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Checkout gitops repo
        uses: actions/checkout@v4
        with:
          repository: omerteomim/bootcamp-gitops
          token: ${{ secrets.GITOPS_REPO_TOKEN }}
      
      - name: Update image tags in values file
        run: |
          sed -i 's/^\(     tag:  \).*/\1'"${{ github.sha }}"'/' environments/prod/values.yml
      
      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add environments/prod/values.yaml
          git commit -m "Update image tags to ${{ github.sha }}"
          git push origin main